@import './reset.css';
@import './base.css';

#app {
  margin: 0 auto;
  padding: 0;
  font-weight: normal;
}

a,
.green {
  text-decoration: none;
  color: var(--color-text);
  /* color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
  padding: 3px; */
}

.sectionTitle h2,
.sectionTitle h4 {
  margin: 0;
}

.sectionTitle {
  margin: 1.4rem auto;
}

.sectionTitle h2 {
  font-size: 2.4rem;
}

.sectionTitle h4 {
  font-size: 1.4rem;
}

.sectionTitle .contTitle {
  text-transform: capitalize;
  color: var(--vt-c-white);
}

.text-align-center {
  text-align: center;  
}

.container {
  max-width: calc(100% - 4rem);
  margin: 0 2rem;
}

.container img {
  width: 100%;
}

.container .tag-soft {
  margin: 0 0.2rem;
  color: var(--vt-c-text-dark-2);
}

.porject-tags, .porject-tags li {
  display: flex;
  list-style: none;
}

.porject-tags {
  justify-content: center;
  margin: 0 auto;
  max-width: 80%;
  flex-wrap: wrap;
}

.porject-tags li {
  font-size: 0.8rem;
  margin: 0.1rem 0.1rem;
  padding: 0 1rem;
  border-radius: 3px;
  background-color: var(--color-text);
  color: var(--color-background);
}

.text-white {
  color: var(--vt-c-white);
}

.cont-description {
  border: 1px solid var(--color-border);
  border-left-width: 0;
  border-right-width: 0;
  margin: 0;
  padding: 1rem 0;
}

.gutter-p-t {
  margin-top: 2rem;
}

[class*="grid-wrap"] {
  display: grid;
}

[class*="grid-wrap"] [class*="box"] > h3 {
  position: relative;
}

[class*="grid-wrap"] h3::after {
  content: "";
  display: block;
  width: 50%;
  height: 1px;
  position: absolute;
  top: 50%;
  right: 0;
  background: var(--vt-c-white);
}

.grid-wrap-col3,
.grid-wrap-col2 {
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  grid-auto-rows: 240px;
  /* grid-auto-flow: dense; */
  grid-auto-flow: dense;
  overflow: hidden;
}

.grid-wrap-col2 video {
  width: 100%;
}

.grid-wrap-col3 .item {
  grid-column-start: auto;
  grid-row-start: auto;
  /* background-image: url(vet1.jpg); */
  /* background-size: cover; */
  /* background-position: center; */
  /* background-repeat: no-repeat; */
}

[class*="grid-wrap-col"] .item--large {
  grid-row-end: span 3;
}
[class*="grid-wrap-col"] .item--medium {
  grid-row-end: span 2;
}
[class*="grid-wrap-col"] .item--full {
  grid-column-end: auto;
}

.item--video,
.item--cover {
  position: relative;
  overflow: hidden;
}

.item--video::before,
.item--video::after,
.item--cover::before,
.item--cover::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  /*inset: 0;*/
  top: 0;
  left: 0;
}

.item--video::before {
  background: linear-gradient(
    to top,
    hsl(240 8% 10% / 0.79) 0%,
    hsl(240 8% 10% / 0.787) 7.8%,
    hsl(240 8% 10% / 0.779) 14.4%,
    hsl(240 8% 10% / 0.765) 20.2%,
    hsl(240 8% 10% / 0.744) 25.3%,
    hsl(240 8% 10% / 0.717) 29.9%,
    hsl(240 8% 10% / 0.683) 34.3%,
    hsl(240 8% 10% / 0.641) 38.7%,
    hsl(240 8% 10% / 0.592) 43.3%,
    hsl(240 8% 10% / 0.534) 48.4%,
    hsl(240 8% 10% / 0.468) 54.1%,
    hsl(240 8% 10% / 0.393) 60.6%,
    hsl(240 8% 10% / 0.31) 68.3%,
    hsl(240 8% 10% / 0.216) 77.3%,
    hsl(240 8% 10% / 0.113) 87.7%,
    hsl(240 8% 10% / 0) 100%
  );
  transition: 300ms opacity linear;
}

.item--cover::before {
  background: linear-gradient(
    to top,
    hsl(240 8% 10% / 1) 0%,
    hsl(240 8% 10% / 0.925) 7.8%,
    hsl(240 8% 10% / 0.879) 14.4%,
    hsl(240 8% 10% / 0.865) 20.2%,
    hsl(240 8% 10% / 0.844) 25.3%,
    hsl(240 8% 10% / 0.817) 29.9%,
    hsl(240 8% 10% / 0.783) 34.3%,
    hsl(240 8% 10% / 0.741) 38.7%,
    hsl(240 8% 10% / 0.692) 43.3%,
    hsl(240 8% 10% / 0.534) 48.4%,
    hsl(240 8% 10% / 0.468) 54.1%,
    hsl(240 8% 10% / 0.393) 60.6%,
    hsl(240 8% 10% / 0.31) 68.3%,
    hsl(240 8% 10% / 0.216) 77.3%,
    hsl(240 8% 10% / 0.113) 87.7%,
    hsl(240 8% 10% / 0) 100%
  );
  transition: 300ms opacity linear;
}

.pocLink {
  margin: 2rem 0;
  display: flex;
}

.pocLink a {
  margin-right: 0.5rem;
  border: 1px solid var(--color-border);
  border-radius: 30px;
  padding: 0.8rem 1.2rem;
  transition: all 0.5s ease-in;
}

.pocLink a:hover {
  background: var(--color-border);
  color: var(--vt-c-white);
}

@media (hover: hover) {
  a:hover {
    /* background-color: hsla(160, 100%, 37%, 0.2); */
  }
}

@media (min-width: 1024px) {
  .sectionTitle .contTitle {
    font-size: 6rem;
  }

  .sectionTitle {
    margin: 3rem auto 6rem auto;
  }

  .sectionTitle h3 {
    font-size: 2rem;
  }

  .sectionTitle h4 {
    font-size: 2rem;
  }

  .container {
    max-width: var(--base-bp-width-large);
    margin: 0 auto;
  }

  .gutter-lg {
    margin: 4rem auto;
  }

  .gutter-p-t {
    margin-top: 8rem;
  }

  .porject-tags li {
    margin: 1rem 0.1rem;
  }

  .cont-description {
    padding: 2rem 0;
    font-size: 1.4rem;
  }

  .grid-wrap-1 {
    /* grid-template-rows: 100px 400px; */
    grid-gap: 0 5px;
    grid-template-areas:
    "A A B B C C"
    "A A D D E E";
  }

  .grid-wrap-2 {
    grid-gap: 0 5px;
    grid-template-areas:
    "A A B B C C"
    "A A D D E E"
    "A A F F G G";
  }


  [class*="grid-wrap"] h3::after {
    width: 30%;
  }
  
  .box1 {
    grid-area: A;
    padding: 0 2rem;
    min-width: 420px;
    max-width: 420px;
  }

  .box2 {
    grid-area: B;
  }

  .box3 {
    grid-area: C;
  }

  .box4 {
    grid-area: D;
  }

  .box5 {
    grid-area: E;
  }

  .box6 {
    grid-area: F;
  }

  .box7 {
    grid-area: G;
  }

  .grid-wrap-col3 .item--full {
    grid-column: 1/-1;
    grid-row-end: span 2;
  }

  .grid-wrap-col2 .item--video,
  .grid-wrap-col2 .item--cover {
    grid-column-end: span 4;
    grid-row-end: span 3;
  }


  /* body {
    display: flex;
    place-items: center;
  } */

  /* #app {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0;
  } */
}
